<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<body>

    <div class="container">
        <div class="header">
            <h3>Registration Numbers</h3>
        </div>


        <p>
            Formats that are accepted : <br>
            CA 123-456; CF 123456; CJ-123-456
        </p>
        <p>NB: Registrations must be entered in CAPS!</p>


        <span class="errorOutputMessage">{{messages.errorMess}}</span>


        <span class="OutputMessage">{{messages.Mess}}</span>


        <form action="/reg_number" method="post">
            <label for="reg_num">Registration Number: </label>
            <input class="textNum" name="reg" type="text" placeholder="enter a registration">
            <button class="add" type="submit" name="button">Add</button>
        </form>


        <form action="/reg_town" method="post">
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="CA">Cape Town
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="CL">Stellenbosch
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="CF">Bellville
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="CJ">Paarl
            </label>
            <button class="show" type="submit" name="show-button">Show Registration</button>
        </form>


        <form action="/show" method="post">
            <button class="show" type="submit" name="button">Show All</button>
        </form>

        <form action="/clear" method="post">
            <button class="clear" type="submit" name="button">Clear Registrations</button>
        </form>

        <ul id="regsies">
            {{!-- {{#each regies}} --}}
            <li>{{urlRegistration}}</li>
            {{!-- {{/each}} --}}
        </ul>
    </div>



</body>

</html>