<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>

<body>

    <div class="container">
        <div class="header">
            <h1>Registration Numbers</h1>
        </div>

        <div class="reg-name">
            <h5>Please enter a registration number</h5>
            <p>
                Formats that are accepted : <br>
                CA 123-456 <br>
                CY 123456 <br>
                CJ-123-456
            </p>
            <p>NB! Registrations must be entered in CAPS</p>
        </div>

        <div class="errorMessage">
            <span class="errorOutputMessage">{{errorMess}}</span>
        </div>

        <form action="/reg_number" method="post">
            <label for="reg_num">Registration Number: </label>
            <input class="textNum" name="reg" type="text" placeholder="enter a registration">
            <button class="add" type="submit" name="button">Add</button>
        </form>

        {{!-- <div class="message">
            <span class="outputMessage">{{outputMessage}}</span>
        </div> --}}

        <form action="/reg_town" method="get">
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="cape-town">Cape Town
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="stellenbosch">Stellenbosch
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="bellville">Bellville
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="paarl">Paarl
            </label>
            <label class="radio-inline">
                <input class="radio-btn" type="radio" name="town" value="all">All
            </label>
            <button class="show" type="submit" name="show-button">Show Registration</button>
        </form>

        <form action="/clear" method="post">
        <button class="clear" type="submit" name="button">Clear Registrations</button>
        </form>


        <div id="reg-display">
            <ul id="regs">
                {{#each registration}}
                <li>{{this.reg}}</li>
                {{/each}}
            </ul>
        </div>
    </div>

    

</body>

</html>

